<html>
<head>
  <title>thermostat</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div style="margin:10px;">
    <div class="jumbotron"  style="padding:10px;">
      <h1>Thermostat: <b><%= heatstatus %> (<%= heatcal %>)</b></h1>
      <h2><%= heatdate %></h2>
      <h2>thermometer temperature: <b><%= tempint %> (<%= hiint %>)</b></h2>
      <h2>thermometer humidity: <b><%= humiint %></b></h2>
      <h2>thermometer last check: <%= dateint %></h2>
      <h2>controler temperature: <%= controlertempint %></h2>
      <h2>weather temperature: <b><%= tempext %> (<%= hiext %>)</b></h2>
      <h2>weather humidity: <b><%= humiext %></b></h2>
      <h2>weather last check: <%= dateext %></h2>
      <h2>clim temperature: <b><%= climtempint %></b></h2>
      <h2>clim humidity: <b><%= climhumint %></b></h2>
      <h2>clim temperature ext: <b><%= climtempext %></b></h2>
      <h2>clim last check: <%= dateext %></h2>
    </div>
  </div>
</body>
</html>
